{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan - Tambah</title>
{% endblock meta %}


{% block content %}
<div class="addmatkul">
    <br>
    <br>
    <div class="judul">
        <h1>Tambah Kegiatan</h1>
    </div>
    
    <div class="add_cek_button">
        <a href="/kegiatan">LIHAT KEGIATAN</a>
    </div>
    
    <form action="/kegiatan/add/" method="POST">
        {% csrf_token %}
        <Table>
            {{ form }}
        </Table>
        <br>
        <input type="submit" value="Submit" id="submitbutton">
    </form>

    <br>
    <div class="pesan">
        <p>{{ pesan }}</p>
    </div>
</div>
{% endblock content %}