{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan - Tambah</title>
{% endblock meta %}


{% block content %}
<div class="addmatkul">
    <br>
    <br>
    <div class="judul">
        <h1>Tambah Peserta</h1>
    </div>
    
    
    <form action="/kegiatan/add-peserta/{{id}}/" method="POST">
        {% csrf_token %}
        <Table>
            <tr>
                <th> NAMA </th>
                <td> {{ form.nama_peserta }} </td>
            </tr>
            {{ form.kegiatan_id.as_hidden }}
        </Table>
        <br>
        <input type="submit" value="Submit" id="submitbutton">
    </form>

    <br>
    <div class="pesan">
        <p>{{ pesan }}</p>
    </div>
</div>
{% endblock content %}