{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}


{% block content %}
<div class="cekmatkul">
<br>
<br>
<h1>DAFTAR KEGIATAN</h1>

<div class="add_cek_button">
<a href="/kegiatan/add">TAMBAH KEGIATAN</a>
</div>

<table>
    <thead>
        <tr>
            <th>Kegiatan</th>
            <th>Penjelasan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for act in kegiatan %}
        <tr>
            <td>{{act.nama_kegiatan}}</td>
            <td>{{act.keterangan}}</td>
            <td>
                <a href="/kegiatan/detail/{{act.id}}"><button> Readmore</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock content %}