{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan - detail_konten</title>
{% endblock meta %}


{% block content %}
<div class="detail_page">
    <br>
    <br>
    <br>
    <br>
    <div class="add_cek_button">
        <a href="/kegiatan/"> BACK </a>
    </div>

    <div class="detail_konten">
        <H2> {{kegiatan.nama_kegiatan}} </H2>

        <table>
            <thead>
                <tr>
                    <th>Peserta :</th>

                </tr>
            </thead>
            <tbody>
                {% for person in peserta %}
                <tr>
                    <td> <span>- </span> {{person.nama_peserta}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <div class="delete_button">
            <a href="/kegiatan/delete/{{id}}"> <button>HAPUS KEGIATAN</button> </a>
            <a href="/kegiatan"> <button>BACK</button> </a>
        </div>
    </div>
    <div class="add_cek_button">
        <a href="/kegiatan/add-peserta/{{id}}"> IKUTI KEGIATAN </a>
    </div>
</div>
{% endblock content %}