/*=========================================== NAVBAR ===================================================*/

header{
    background-color: rgba(245, 245, 245, 1);
    margin:0;
    padding: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 59px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.555);
}

.navbutton{
    display: inline-block;
    margin: 0 25px 0 0;
}

.navbutton_content{
    text-decoration:none ;
    font-weight: 700;
    color: black;
    position: relative;
}
.navlist .navbutton .navdropdown{
    position: absolute;
    display: none;
    
    background-color: #f9f9f9;  
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.555);
}

.navlist .navbutton .navdropdown a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
    text-align: left;
    padding: 10px 5px;
}
#dropdown:hover .navdropdown{
    display: block;
}
.navdropdown :hover{
    background-color: #f1f1f1e5;
}

/*=============================================== konten 1 ===================================================*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.konten_satu{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)),url('pemandangan.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness();
}

.konten_satu .headline{
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.konten_satu .headline h1{
    position: relative;
    margin: 0;
    font-size: 72px;
    color: turquoise;
    font-weight: 900;
}

.konten_satu .headline h2{
    position: relative;
    margin: 0;
    font-size: 54px;
    color: whitesmoke;
    font-weight: 700;
}

.konten_satu .headline h5{
    position: relative;
    margin: 0;
    font-size: 24px;
    color: #D9BD2A;
    font-weight: 600;

}

.konten_satu .headline .sosmed{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 30px;
    margin-top: 30px;
}

#ig, #email, #linkedin{
    margin: 30px;
    color: whitesmoke;
}

.konten_satu a #arrow_down{
    color: whitesmoke;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    font-size: 30px;
}

/*=============================================== konten 2 ===================================================*/
.konten_dua{
    width: 100%;
    height: 100vh;
    padding-top:30px ;
    padding-bottom: 20px;
}

.konten_dua h1{
    text-align: center;
    margin:0 0 50px 0 ;
}


.konten_dua .konten_biodata{
    display: flex;
    justify-content: center;
}
.konten_dua #konten_extra{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.konten_biodata .profile, .konten_biodata .biodata{
    width: 50%;
}

.konten_biodata .profile{
    text-align: center;
}
.konten_biodata .biodata{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.konten_biodata .biodata .bio_poin{
    width: 50%;
    margin: 20px auto;
}
.konten_biodata .biodata .bio_poin h2,.konten_biodata .biodata .bio_poin p{
    margin: 0;
}

.konten_biodata .profile #profile_pic{
    margin: 20px 0 10px 0;
}
.konten_biodata .profile p{
    text-align: center;
    margin: 10px auto 60px auto;
    width: 50%;
    font-weight: bold;
}
.konten_biodata .profile #swot_extra{
    font-size: 35px;
}

#profile_pic{
    height: 250px;
    border-radius: 50%;
    border: 15px solid turquoise;
}

.bio_poin h2{
    border-bottom: turquoise 4px solid;
    
}

/*========================================== Konten 3 ========================================*/
.konten_tiga{
    width: 100%;
    height: 115vh;
    background-color: turquoise;
    padding-top: 30px;
}

.konten_tiga h1{
    text-align: center;
    margin:0 0 50px 0 ;
}

.konten_tiga .edu_point{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.konten_tiga .edu_point img{
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: #FFD600 solid 10px;
    margin:auto 0;
    margin-right: 60px;
}

.konten_tiga .edu_point .edu_info{
    width: 30%;
}

.konten_tiga #edu_point_dua{
    margin: 45px 0;
}

.konten_tiga .readmore, .konten_dua .back{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 20px;
}
.konten_tiga .readmore a, .konten_dua .back a{
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #FFD600;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/*======================================= ADD matkul =======================================*/
.addmatkul{
    background-color: turquoise;
    height: 100vh;
}

.addmatkul h1, .cekmatkul h1{
    text-align: center;
}

.addmatkul form table tbody tr th{
    text-align: left;
}

.addmatkul form, .addmatkul .pesan{
    margin-left: 20px;
    
}
.addmatkul form #submitbutton{
    font-size: 15px;
    font-weight: bolder;
    background-color: #e9ca32;
    border-radius:5px ;
}
/*========================================== Cek matkul ==============================================*/
.cekmatkul{
    background-color: turquoise;
    height: 100vh;
}

.add_cek_button{
    background-color: #e9ca32;
    width: fit-content;
    height: fit-content;
    margin: 0 auto 30px auto;
    text-align: center;
    border-radius: 5px;
}
.add_cek_button:hover{
    background-color: #D9BD2A;
}

.add_cek_button a{
    font-size: 15px ;
    text-decoration: none;
    color: black;
    margin: 7px;
    font-weight: bolder;
}
.cekmatkul table thead tr th{
    padding-right: 10px;
    background-color: #e9ca32;
}
.cekmatkul table tbody tr td{
    background-color: rgba(245, 245, 245, 0.897);
}
.cekmatkul table thead tr th, .cekmatkul table tbody tr td{
    border: solid 1px black;
}
.cekmatkul table{
    margin: 0 auto;
    border: solid 1px black;
    text-align: center;
}

/*======================================= Detail-Matkul =================================*/

.detail_page{
    background-color: turquoise;
    width: 100% ;
    height: 100vh;
}

.detail_page .detail_konten{
    background-color: #e9ca32;
    width: 55%;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
}
.detail_konten h2{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}
.detail_konten .delete_button{
    text-align:right ;
}

.detail_konten .add_cek_button a{
}
/*======================================= responsive ====================================*/

@media only screen and (max-width: 768px) {
    .konten_satu{
        height: 150vh;
    }
    .konten_dua, .konten_tiga{
        height: max-content;
        padding-bottom: 20px;
    }
    .konten_dua h1{
        margin: 0 0 30px 0;
    }
    #profile_pic{
        height: 150px;
        border-radius: 50%;
        border: 10px solid turquoise;
    }
}

