*{
    margin: 0;
    padding:0;
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background:white;
}
.judul{
    font-weight: bolder;
    text-align: center;
    font-size: 50px ;
    background-color: yellow;
}

/*===================================== CONTENT ===================================*/

.biodata{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biodata img{
    width :300px;
    height: 400px;
    border-radius: 10px;
}

.biodata .bio_info{
    width: fit-content;
    height: 400px;
    margin-left: 30px ;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.biodata .bio_info table{
    height: 90%;
    margin: 0 10px;
}
.biodata .bio_info .judul_biodata{
    text-align: center ;
    height: fit-content;
    border-bottom: 2px solid black;
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tentang{
    width:55%;
    margin: auto;
    
}

.tentang h2{
    display: inline-block;
    background: yellow;
    margin-bottom: 10px;
}

.tentang p{
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.riwayat_pendidikan{
    width: 55%;
    margin: 20px auto;
}

.riwayat_pendidikan h2{
    background-color: yellow;
    margin-bottom: 10px;
    display: inline-block;
}

.riwayat_pendidikan table{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.riwayat_pendidikan table tr td{
    
    width: 50%;
    padding: 10px;
}

.contact{
    margin: 10px auto;
    width: 55%;
}

.contact .judul_contact{
    margin-bottom: 10px;
    background: yellow;
    display: inline-block;
}

.contact ul{
    border: 2px solid black;
    border-radius: 10px;
    width: 99,9%;
    list-style-type: none;
}

.contact ul li{
    padding: 10px;
    width: max-content;
    margin: 10px;
    border-radius: 10px;
}

.contact ul li a{
    color: black;
    font-size: 20px;
}
.contact ul li:hover{
    background-color: grey;
}

.contact ul li a i{
    vertical-align: middle;
    font-size: 40px;
}

/* =========================== responsive ===========================*/
@media only screen and (max-width: 600px) {
    .biodata {
        flex-direction: column;
        margin: 30px auto ;
        height: max-content;
    }

    .biodata img{
        margin-bottom: 30px;
    }

    .biodata .bio_info{  
        margin: auto;  
        height: fit-content;
    }
    .biodata .bio_info table{
        height: fit-content;
    }

    .tentang, .riwayat_pendidikan, .contact{
        width: 78%;
    }
  }
