{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://kit.fontawesome.com/1364b7831e.js" crossorigin="anonymous"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>

<header>

      <ul class="navlist">
          <li class="navbutton"><a href="/" class="navbutton_content">HOME</a></li>
          <li class="navbutton" id="dropdown">
            <a href="#" class="navbutton_content">MATKUL</a>
            <div class="navdropdown">
              <a href="/matkul/">LIHAT MATKUL</a>
              <a href="/matkul/addmatkul">TAMBAH MATKUL</a>
            </div>
          </li>
          <li class="navbutton" id="dropdown">
            <a href="#" class="navbutton_content">KEGIATAN</a>
            <div class="navdropdown">
              <a href="/kegiatan/">LIHAT KEGIATAN</a>
              <a href="/kegiatan/add">TAMBAH KEGIATAN</a>
            </div>
          </li>
          <li class="navbutton" id="dropdown">
            <a href="#" class="navbutton_content">MORE</a>
            <div class="navdropdown">
              <a href="/story1">STORY1</a>
              <a href="http://jsquery-thoriq.herokuapp.com">PASCA UTS</a>
            </div>
          </li>
      </ul>

</header>

  {% block content %}
  {% endblock content %}

</body>
</html>
