{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Thoriq Aulia - SWOT</title>
{% endblock meta %}

{% block content %}

<div class="konten_dua">

    <div class="konten_biodata" id="konten_extra">
        <div class="profile">
            <img src="{% static 'img/profile.jpg' %}" alt="" id="profile_pic">
            <p id="swot_extra">S.W.O.T</p>
        </div>
        <div class="biodata">
            <div class="bio_poin" id="strength">
                <h2>Strength</h2>
                <p>Responsible, hardworker, totally</p>
            </div>
            <div class="bio_poin" id="weakness">
                <h2>Weakness</h2>
                <p>deadliner, hard to serious</p>
            </div>
            <div class="bio_poin" id="opportunity">
                <h2>Opportunity</h2>
                <p>grow in educational family</p>
            </div>
            <div class="bio_poin" id="threat">
                <h2>Threat</h2>
                <p>someone not a deadliner</p>
            </div>
        </div>
    </div>

    <div class="back">
        <a href="/">
            BACK
        </a>
    </div>
</div>

{% endblock content %}
