{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Thoriq Aulia</title>
{% endblock meta %}

{% block content %}

<div class="konten_satu">
  <div class="headline">
      <h1>HOLA !!</h1>
      <h2>I'AM THORIQ</h2>
      <h5>welcome to my website</h5>
      <div class="sosmed">
          <a href="" id="ig"><i class="fab fa-instagram"></i></a>
          <a href="" id="email"><i class="far fa-envelope" ></i></i></a>
          <a href="" id="linkedin">  <i class="fab fa-linkedin-in" ></i></i></a>
      </div>
  </div>

  <a href=""><i class="fas fa-angle-down" id="arrow_down"></i></a>
</div>

<div class="konten_dua">
  <h1>ABOUT ME</h1>

  <div class="konten_biodata">
      <div class="profile">
          <img src="{% static 'img/profile.jpg' %}" alt="" id="profile_pic">
          <p>I’m a young man who interest in computer science and like to observe everything  happens around.</p>
      </div>
      <div class="biodata">
          <div class="bio_poin">
              <h2>Full Name</h2>
              <p>Thoriq Aulia</p>
          </div>
          <div class="bio_poin">
              <h2>Birthday</h2>
              <p>17 August 2001</p>
          </div>
          <div class="bio_poin">
              <h2>Profession</h2>
              <p>Student at University of Indonesia</p>
          </div>
          <div class="bio_poin">
              <h2>hobby</h2>
              <p>Playing games</p>
          </div>
      </div>
  </div>
</div>

<div class="konten_tiga">
  <h1>EDUCATION</h1>

  <div class="edu_point">
      <img src="{% static 'img/fasilkom.png' %}" alt="">
      <div class="edu_info">
          <h2>University of Indonesia</h2>
          <p>2019 - present</p>
      </div>
  </div>
  <div class="edu_point" id="edu_point_dua">
      <img src="{% static 'img/sma.jpg' %}" alt="">
      <div class="edu_info">
          <h2>SMAN 2 Depok</h2>
          <p>2016 - 2019</p>
      </div>
  </div>
  <div class="edu_point">
      <img src="{% static 'img/smp.jpg' %}" alt="">
      <div class="edu_info">
          <h2>SMPN 2 Depok</h2>
          <p>2013 - 2016</p>
      </div>
  </div>

  <div class="readmore">
      <a href="/extra">
          READMORE
      </a>
  </div>

</div>

{% endblock content %}
