{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoriq Aulia</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="https://kit.fontawesome.com/1364b7831e.js" crossorigin="anonymous"></script>
</head>

<body>

    <h1 class="judul">MY PROFILE</h1>

    <div class="biodata">
        <img src="{% static 'img/profile.jpg' %}" alt="">
        <div class="bio_info">
            <div class="judul_biodata">
                <h2>BIODATA</h2>
            </div>
            <table>
                <tr>
                    <td>NAMA</td>
                    <td>: Thoriq Aulia</td>
                </tr>
                <tr>
                    <td>NPM</td>
                    <td>: 1906307611</td>
                </tr>
                <tr>
                    <td>ANGKATAN </td>
                    <td>: 2019</td>
                </tr>
                <tr>
                    <td>JURUSAN</td>
                    <td>: Ilmu Komputer</td>
                </tr>
                <tr>
                    <td>KAMPUS</td>
                    <td>: Universitas Indonesia</td>
                </tr>
                <tr>
                    <td>HOBI</td>
                    <td>: nonton film</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="tentang">
        <h2>TENTANG SAYA</h2>
        <p>Saya adalah seorang yang tidak terlalu muncul di permukaan dan cenderung bekerja dibalik layar. cita-cita saya masuk surga bersama keluarga dan teman, guru-guru, dan semuanya. Harapan saya adalah bermanfaat bagi orang banyak, dan harapan saya di fasilkom lulus cum laude.</p>
    </div>

    <div class="riwayat_pendidikan">
        <h2>RIWAYAT PENDIDIKAN</h2>
        <table>
            <tr>
                <td>Universitas Indonesia</td>
                <td>: 2019 - sekarang</td>
            </tr>
            <tr>
                <td>SMAN 2 Depok</td>
                <td>: 2016 - 2019</td>
            </tr>
            <tr>
                <td>SMPN 2 Depok</td>
                <td>: 2013 - 2016</td>
            </tr>
            <tr>
                <td>SDIT Al-Fauzien</td>
                <td>: 2007 - 2013</td>
            </tr>
            <tr>
                <td>TK Al-Fauzien</td>
                <td>: 2005 - 2007</td>
            </tr>
        </table>
    </div>

    <div class="contact">
        <h2 class="judul_contact">CONTACT</h2>

        <ul>
            <li><a href="https://gmail.com" target="_blank"><i class="fas fa-envelope-square"></i><Span></Span> thoriq.aulia@ui.ac.id </a></li>
            <li><a href="https://line.me" target="_blank"><i class="fab fa-line"></i><Span></Span> scrin_163 </a></li>
            <li><a href="https://www.instagram.com/whoisthoriq/" target="_blank"><i class="fab fa-instagram-square"></i><Span></Span> @whoisthoriq </a></li>
            <li><a href="https://www.linkedin.com/in/thoriq-aulia-58b364194" target="_blank"><i class="fab fa-linkedin"></i><Span></Span> Thoriq Aulia </a></li>
        </ul>
  
    </div>
</body>

</html>