{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Matkul</title>
{% endblock meta %}


{% block content %}
<div class="addmatkul">
    <br>
    <br>
    <div class="judul">
        <h1>Tambah Matkul</h1>
    </div>
    
    <div class="add_cek_button">
        <a href="/matkul/">MATKUL</a>
    </div>
    
    <form action="/matkul/addmatkul/" method="POST">
        {% csrf_token %}
        <Table>
            {{ input_form }}
        </Table>
        <br>
        <input type="submit" value="Submit" id="submitbutton">
    </form>

    <br>
    <div class="pesan">
        <p>{{ pesan }}</p>
    </div>
</div>
{% endblock content %}