{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}


{% block content %}
<div class="cekmatkul">
<br>
<br>
<h1>DAFTAR MATA KULIAH</h1>

<div class="add_cek_button">
<a href="/matkul/addmatkul/">TAMBAH</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nama Matkul</th>
            <th>Ruang Kelas</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for matkul in matakuliah %}
        <tr>
            <td>{{matkul.nama_matkul}}</td>
            <td>{{matkul.ruang_kelas}}</td>
            <td>
                <a href="/matkul/detail-matkul/{{matkul.id}}"><button> Readmore</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock content %}