{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan - Detail</title>
{% endblock meta %}


{% block content %}
<div class="detail_page">
    <br>
    <br>
    <br>

    <div class="detail_konten">
        <H2> {{matkul.nama_matkul}} </H2>

        <table>
            <tr>
                <th>Dosen</th>
                <td>:<span> </span>{{matkul.nama_dosen}} </td>
            </tr>
            <tr>
                <th>SKS </th>
                <td>:<span> </span>{{matkul.jumlah_sks}}</td>
            </tr>
         
            <tr>
                <th>Kelas</th>
                <td>:<span> </span>{{matkul.ruang_kelas}}</td>
            </tr>
            <tr>
                <th>Tahun Ajar</th>
                <td>:<span> </span>{{matkul.tahun_ajar}}</td>
            </tr>
            <tr>
                <th>Deskripsi </th>
                <td>:<span> </span>{{matkul.desc_matkul}}</td>
            </tr>
        </table>
        <br>
        <div class="delete_button">
            <a href="/matkul/delete/{{id}}"> <button>DELETE</button> </a>
        </div>
    </div>
    <div class="add_cek_button">
        <a href="/matkul/"> &lt </a>
    </div>
</div>
{% endblock content %}